services:
  - type: web
    name: webui
    runtime: docker
    rootDir: .
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SERVICE
        value: webui
      - key: LOGFIRE_TOKEN
        sync: false
      - key: TILING_SERVER
        value: "https://tiling.onrender.com"
      - key: OPENAI_API_KEY
        sync: false
      - key: CREATE_DATABASE
        value: "false"
      - key: PG_DSN
        fromDatabase:
          name: postgres
          property: connectionString
      - key: REDIS_DSN
        fromService:
          type: redis
          name: arq-redis
          property: connectionString
  - type: web
    name: tiling
    runtime: docker
    rootDir: .
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SERVICE
        value: tiling
      - key: LOGFIRE_TOKEN
        sync: false
  - type: worker
    name: arq-worker
    runtime: docker
    rootDir: .
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SERVICE
        value: worker
      - key: LOGFIRE_TOKEN
        sync: false
      - key: GITHUB_TOKEN
        sync: false
      - key: PG_DSN
        fromDatabase:
          name: postgres
          property: connectionString
      - key: REDIS_DSN
        fromService:
          type: redis
          name: arq-redis
          property: connectionString
  - type: worker
    name: spider
    runtime: docker
    rootDir: .
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SERVICE
        value: spider
      - key: LOGFIRE_TOKEN
  - type: redis
    name: arq-redis
    plan: starter
    ipAllowList: [] # only allow internal connections

databases:
  - name: postgres
    plan: starter
